aiofiles==23.1.0
aiohttp==3.8.5
asyncio==3.4.3
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
pillow==9.5.0
psutil
py-tgcalls==0.9.7
pykeyboard
pyrogram==2.0.106
python-dotenv==1.0.0
pyyaml==5.3.1
requests
speedtest-cli==2.1.3
spotipy
tgcrypto==1.2.5
numpy==1.25.1
yt-dlp
youtube-search
youtube-search-python
